<IfModule mod_rewrite.c>
    Options +FollowSymLinks
    RewriteEngine on
    
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    RewriteRule ^$ public/index.php [L]
    RewriteRule ^(.*)$ public/index.php/$1 [L]
</IfModule>