html {
	height: 100%;
}

html.auto_resize_iframe {
	height: auto;
}

body {
	height: 100%;
}

body.auto_resize_iframe {
	height: auto;
}

body {
	background-color: #fff;
	font-family: "Helvetica Neue", arial; 
	font-size: 9pt;
	font-weight: 400;
	color: #555555;
	text-align: left;
	direction: ltr;
	unicode-bidi: embed;
	margin: 0;
	padding: 0;
}

h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	line-height: 1em;
	margin-bottom: 0.5em;
}

.nodisplay {
	display: none;
}

p {
	font-size: 9pt;
}

a img {
	border: 0;
	padding: 0;
}

a:link, a:visited {
	text-decoration: none;
	color: #3671a1;
	margin: 0;
	padding: 0;
}

a:hover {
	text-decoration: underline;
}

strong {
	font-weight: bold;
	color: #000;
}

b {
	font-weight: 450;
}

div.clear {
	clear: both;
	display: block;
	padding-bottom: 20px;
}

#border {
	border-top: 1px solid #e5e5e5;
	margin-top: 20px;
}

img.icon {
	vertical-align: top;
	margin-right: 5px;
}

img.icon1 {
	vertical-align: top;
	margin-right: 7px;
	margin-top: 5px;
}

img.icon2 {
	vertical-align: top;
	margin-right: 5px;
	margin-top: 2px;
}

img.spinner {
	vertical-align: top;
	margin-right: 5px;
	margin-top: 7px;
}

div.logo {
	margin-right: auto;
	padding-top: 5px;
	margin-left: auto;
	padding-bottom: 20px;
	color: #444444;
	width: 800px;
}

div.header {
	font-size: 12px;
	margin-right: auto;
	margin-left: auto;
	background:#fff;
	width: 800px;
	border-bottom: 1px solid #e5e5e5;
}

div.header div.menubar {
	color: #777777;
	width: 800px;
	padding-bottom: 10px;
}

div.header div.menubar div.menu_item {
	margin-left: 10px;
	display: inline;
	font-weight: normal;
	padding-right: 10px;
}

div.content {
	margin-right: auto;
	margin-bottom: 20px;
	margin-left: auto;
	padding: 20px 10px 10px 10px;
	color: #444444;
	width: 800px;
}

div.footer {
	font-size: 8pt;
	border-top: 1px solid #e5e5e5;
	color: #777777;
	margin: 20px auto 10px auto;
	padding: 15px 10px 20px 10px;
	width: 800px;
	height: 5px;
}

div.footer div.top a {
	padding-right: 5px;
}

div.top { 
	float: right;
}

div.bottom {
	padding:0px 0px 0px 10px;
}

.success {
	background: no-repeat center right url(../img/icons/tick.png);
}

.failed {
	background: no-repeat center right url(../img/icons/cross.png);
}

div.result {
	overflow: hidden;
	clear: both;
	padding-top: 10px;
}

div.result > span {
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	display: inline-block;
	background-repeat: no-repeat;
	background-position: 6px 6px;
	padding: 6px;
	padding-left: 27px;
	float: left;
	/* margin-bottom: 15px; */
	border: 1px solid #e4dfc6;
}

#notice > span{
	background-image: url(../img/icons/lightbulb.png);
	background-color: #fafae9;
}

#tip > span {
 	background-color: #faf6e4;
	background-image: url(../img/icons/information.png);
}

#error > span {
	background-image: url(../img/icons/exclamation.png);
	background-color: #fae9e9;
}

#success > span {
	background-image: url(../img/icons/tick.png);
	background-color: #e9faeb;
}

form {
	margin-top: 10px;
	padding: 0px;
}

fieldset {
	border: 0px;
}

legend {
	font-size: 1.1em;
	color: #555555;
	font-weight: bold;
	margin-bottom: 10px;
	padding-left: 180px; 
	padding-top: 10px;
	padding-bottom: 10px;
}

div.text input, input.text {
	font-family: "Helvetica Neue", arial;
	font-size: 1.1em;
	padding: 4px;
	border: 1px solid #c0c0c0;
	color: #444444;
	background-color: #f7f7f7;
}

div.text input:focus, input.text:focus {
	border: 1px solid #999999;
	outline: none;
}

div.password input {
	font-family: "Helvetica Neue", arial;
	font-size: 1.1em;
	padding: 4px;
	border: 1px solid #c0c0c0;
	color: #444444;
	background-color: #f7f7f7;
	outline: none;
}

div.password input:focus {
	border: 1px solid #999999;
}

div.textarea textarea {
	font-family: "Helvetica Neue", arial;
	font-size: 1.1em;
	padding: 4px;
	border: 1px solid #c0c0c0;
	color: #444444;
	background-color: #f7f7f7;
}

div.textarea textarea:focus {
	border: 1px solid #999999;
	outline: none;
}

div.select select, select.select {
	font-family: "Helvetica Neue", arial;
	font-size: 1.1em;
	padding: 4px;
	border: 1px solid #c0c0c0;
	color: #444444;
	background-color: #f7f7f7;
}

div.select select:focus, select.select:focus {
	border: 1px solid #999999;
	outline: none;
}

div.submit input, input.button, button {
	font-size: 13px;
	padding: 5px 10px;
	border: 1px solid #ddd;
	font-weight: bold;
	background: url(../img/buttons/green.jpg) 0 0 repeat-x;
	color: #fff;
	text-decoration: none;
	border-color: #028433;
	background-position: 0 -96px;
	cursor: pointer;
}

input[type="submit"][disabled]:active, input[type="submit"][disabled] {
	font-size: 13px;
	padding: 5px 10px;
	border: 1px solid #ddd;
	font-weight: bold;
	background: url(../img/buttons/grey.jpg) 0 0 repeat-x;
	color: #fff;
	text-decoration: none;
	border-color: #028433;
	background-position: 0 -96px;
	cursor: pointer;
}

div.text label, div.password label, div.textarea label, div.select label {
	bottom: -4px;
	display: block;
	float: left;
	margin-right: 10px;
	position: relative;
	text-align: right;
	width: 170px;
	font-size: 1.1em;
}

div.input {
	margin-bottom: 10px;
	clear: both;
	font-size: 0.9em;
}

div.checkbox {
	margin-left: 182px;
}

div.recaptcha {
	margin-left: 182px;
	margin-bottom: 10px;
	clear: both;
	font-size: 0.9em;
}

div.checkbox label {
	position: relative;
	bottom: 2px;
}

div.submit {
	margin-left: 182px;
}

div.formPadding {
	margin-left: 182px;
}

div.required label {
	font-weight: bold;
}

.tip_right { 
	font-size: 11px;
	line-height: 1.3em;
	color: #888888;
}

.tip_bottom { 
	font-size: 11px;
	line-height: 1.3em;
	color: #888888;
	margin-bottom: 10px;
	margin-top: 3px;
	margin-left: 182px;
}

div.warning_required {
	font-size: 11px;
	line-height: 1.3em;
	color: #888888;
	margin-bottom: 10px;
	margin-top: 3px;
	margin-left: 182px;
	display: none;
}

table.tlist td { 
	padding: 5px 10px; 
	cursor: pointer; 
}

table.tlist th { 
	padding: 5px 10px; 
	border-bottom: 1px solid #c0c0c0; 
	border-right: 1px solid #f0f0f0; 
	font-size: 12px;
}

th { 
	padding: 5px; 
	font-weight: bold; 
	font-size: 1.1em; 
	cursor: auto; 
	background: #ffffff; 
	color: #444444; 
	border-top: 1px solid #e3e3e3; 
	border-bottom: 1px solid #e3e3e3; 
}

th.thl { 
	border-left: 1px solid #e3e3e3; 
}

th.thr { 
	border-right: 1px solid #e3e3e3; 
}

tr.onMouseOverUp:hover { 
	background: #EDFCD7; 
	border-right: 1px solid #DEFAB4; 
}

tr.onMouseOverDown:hover { 
	background: #F1E0E0;
	border-right: 1px solid #F1C0C0;
}

tr.bg1 { 
	background: #ffffff; 
}

tr.bg1 td { 
	border-right: 1px solid #f0f0f0; 
	font-size: 12px; 
}

tr.bg2 { 
	background: #f0f0f0; 
}

tr.bg2 td { 
	border-right: 1px solid #ffffff; 
	font-size: 12px; 
}

.row1 td, .row1 { 
	background: #f8f8f8; 
	border-bottom: 1px solid #d8d8d8; 
	border-left: 1px solid #d8d8d8;
}

.row2 td, .row2 { 
	background: #ffffff; 
	border-bottom: 1px solid #d8d8d8; 
}

.rowHighlight td, .rowHighlight { 
	background: #CFD9E8; 
	border-bottom: 1px solid #ffffff; 
}

.rowHighlight a { 
	color: #ffffff; 
}

.rowPadding, .rowPadding td { 
	padding: 5px; 
}

.tableClickable {
	text-decoration: none;
}

.tableClickable td { 
	padding: 5px; 
}
.tableClickable tr { 
	cursor: pointer; 
}
.tableClickable tr:hover td { 
	background: #4b6696;	 
	color: #ffffff; 
	border-bottom: 1px solid #4b6696;
}

.tableClickable tr:hover a { 
	color: #ffffff; 
}

div.sub-options {
	padding-top: 5px; 
	padding-bottom: 15px; 
	padding-left: 10px;
}

div.sub-options div.option {
	display:inline;
	padding-right: 10px;
	font-weight: bold;
}

div.list_items { 
	margin-left: 40px; 
}

div.list_items div.item { 
	margin-top: 10px; 
}

div.stats {
	margin-left: 20px;
	padding: 10px 10px 10px 10px;
	border: 1px dashed #e5e5e5;
	width: 500px;
}
div.stats h3 {
	padding-bottom: 10px;
	border-bottom: 1px solid #e5e5e5;
}
div.stats .row {
	padding-top: 1px;
	padding-left: 5px;
}
div.stats .item {
	display: inline;
	padding-right: 10px;
}
div.version {
	padding-left: 20px;
}
div#tools {
	float: left;
	margin-left: 1em;
}
.loading {
	background: no-repeat center right url("../img/layout/loading2.gif");
}

.more_link { padding-left: 15px; }